<template name="sportsBook">
  <div class="container">
  	<p>Welcome to Betting Bonuses Today and as the name suggests, we provide a detailed list of all the bonuses you can get at every online sportsbook including limited time offers. We cover as many bonuses as possible right down to the minute so you can use our site to decide where to get your next bonus. If you are a casino player then try out our sister site CasinoBonusesToday.com.
  	</p>
  	<p>Our bonuses are listed by both categories and sports. The categories include signup, free bets, no deposit bonuses, match bonuses, promotions and more. The sports you can bet on include football, tennis, Formula 1, hockey, basketball, baseball, cricket, boxing, mma and many more. Of course we try to only show you the bonuses that are available in the country of your residence.
  	</p>
    <p>
      {{> blogLatest num=5}}
    </p>
  </div>
</template>
